<h1> Créer nouvel Gossip </h1>

<div class= "container">
<%= form_tag (gossips_path) do %>
 
<p> <%= label_tag 'content', "Votre gossip" %> </p>
<p> <%= text_area_tag 'content' %> </p>

<p> <%= submit_tag 'Je balance', class: "btn btn-primary"%></p>

<% end %>

<p> <%= link_to('Voir tous les gossips', gossips_path) %> </p> 

</div>