<!DOCTYPE html>
<html>
  <head>
    <title>GossipDevise</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="flash_message">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>

    <div class="header">
    <%= render 'layouts/header' %>
    </div>
    
    <div class="container">
      <%= yield %>
	  </div>
    
    <div class="footer">
    <%= render 'layouts/footer' %>
    </div>
    
  </body>
</html>
